.home_container {
  width: 100vw;
  height: auto;
  margin-top: auto;
  padding-top: 3.3rem;
  font-size: small;
}
.Home_Carousal_div {
  margin-top: 5.5%;
  width: 100%;
  height: 500px;
  overflow: hidden;
}

.Home_Carousal_div_img {
  height: 500px;
  width: 100%;
}
.carousel-indicators [data-bs-target] {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

.carousel-indicators {
  margin-left: 0%;
}

.carousel-caption {
  left: 0%;
}

@media (max-width: 900px) {
  .Home_Carousal_div {
    margin-top: 15%;
    height: 400px;
  }
  .Home_Carousal_div_img {
    height: 400px;
  }
}

@media (max-width: 700px) {
  .Home_Carousal_div {
    margin-top: 20.7%;
    height: 400px;
  }
  .Home_Carousal_div_img {
    height: 400px;
  }
}

/* hero part */

.home_hero_div {
  height: 60vh;
  background-image: url("./assets/Components/header_images/banner1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  margin-top: 1px;
  align-content: center;
}

.home_hero_div_p {
  color: white;
  width: 28em;
  text-align: justify;
  font-size: clamp(1rem, calc(4vw+0.8rem), 2rem);
  margin-left: 20%;
  text-wrap: balance;
}

.home_hero_div_div {
  color: white;
  width: 15em;
  margin-left: 5%;
}

.home_hero_div_btn {
  width: auto;
  position: relative;
  left: 80vw;
  border-radius: 10px;
  color: white;
  background-color: rgba(27, 120, 226, 0.932);
}

.home_hero_div_btn:hover {
  color: rgba(27, 120, 226, 0.932);
  background-color: white;
  border: 1px solid rgba(27, 120, 226, 0.932);
}

.home_banner_div,
.home_banner_div2 {
  width: 100vw;
  height: 60vh;
  display: grid;
  grid-template-columns: 1fr 2fr;
  list-style: none;
  gap: 10px;
  padding-top: 2px;
}
.home_banner_div2 {
  grid-template-columns: 2fr 1fr;
}

.home_banner_div li img,
.home_banner_div2 li img {
  width: 100%;
  height: 45%;
  border-radius: 10px;
  aspect-ratio: 1/1;
}
.home_banner_div li p,
.home_banner_div2 li p {
  text-align: justify;
  font-size: clamp(1rem, calc(5vw+0.8rem), 2rem);
  align-items: center;
  margin-top: 50px;
  padding: 3rem;
}
.home_verification_path_div2 {
  padding: 15px;
  text-align: center;
  background-color: rgba(27, 120, 226, 0.932);
}
.home_verification_path_div2_link {
  text-decoration: none;
  color: white;
  font-weight: 600;
  animation: colorChange 2s infinite;
  font-size: medium;
}
@keyframes colorChange {
  0% {
    color: blue;
  }

  100% {
    color: red;
  }
}

.home_verification_path_div2_link:hover {
  color: darkblue;
  text-decoration: underline;
}

.home_verification_path_div3 {
  padding: auto;
  display: grid;
  grid-template-columns: 3fr 3fr 3fr;
  list-style: none;
  align-content: center;
  padding: 2px;
  margin-top: 30px;
}
.home_verification_path_div3 li {
  width: auto;
}
.home_verification_path_div3 li img {
  width: 50%;
  height: 50%;
  border-radius: 20px;
  aspect-ratio: 3/3;
  align-content: center;
  margin-left: 20%;
}
.home_verification_path_div3 li p {
  text-align: justify;
  font-size: small;
  align-items: center;
  margin-top: 30px;
  padding: 4%;
}
